@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS RESET */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; font-family: "Host Grotesk", sans-serif;}
body { min-height: 100dvh; }
p { text-wrap: pretty; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 175px ;
}
@media (width < 1200px){
    body {
        padding: 175px 16px;
    }
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.titles__supermarkets {
    color: #f7a235;
    display: inline-block;
    border-right: 2px solid #f7a235;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0 60px 0;
}

.navbar form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__input {
    width: 450px;
    font-size: 18px;
    padding: 12px 1rem;
    border-radius: 1.5rem 0 0 1.5rem;
    outline: none;
    border: 1px solid #cecece;
    border-right: none;
}
@media (width < 590px){
    .navbar__input {
        width: 100%;
    }
}

.navbar__submit {
    width: 70px;
    font-size: 18px;
    padding: 12px 1rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: 1px solid #f7a235;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #f7a235;
    color: white;
}


.search__filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}
.search__filters p {
    scale: 0;
    width: 0;
}
.search__filters--sort {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-left: 10px;
}
.search__filters--sort span {
    text-align: right;
}
.search__filters--sort select {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 20px;
    outline: none;

    cursor: pointer;
}



.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    gap: 20px; 
    justify-content: center; /* Para el propio contenedor */
    justify-items: start; /* Para sus hijos (product-card) */
}
    .products.not__found {
        display: flex;
        align-items: center;
        justify-content: center;
    }


.products__not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    padding: 20px;
}



.container__not-found-svg {
    display: flex;
    background: #eee;
    padding: 1rem;
    border-radius: 50%;
}

.container__not-found-svg svg {
    width: 60px;
    height: 60px;
}

.container__btn-top button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    right: 16px;

    color: white;
    background: #f7a235;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.container__btn-previous-products {
    display: none;
    margin-bottom: 16px;

}
    .container__btn-previous-products.active{
        display: inline-block;
    }

#btn-previous-products {
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    background: #f7a235;
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}


.container__btn-cart #btn-cart {
    display: flex;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 16px;
    background: #f7a235;
    color: white;
    position: fixed;
    z-index: 1;
    top: 16px;
    right: 16px;
    cursor: pointer;
}




.cart {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    z-index: 100;
    border-left: 1px solid #ddd;
    height: 100dvh;
    max-width: 100%;
}
.cart__btn {
    display: flex;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 16px;
    background: #f7a235;
    color: white;
}
.cart__products {
    min-width: 300px;
    max-width: 512px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; 
}


.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    
    border-bottom: 1px solid #ddd;
}

.cart__header #btn-cart-close {
    outline: none;
    border: none;
    background: #f5f4f4;
    display: flex;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}


footer.cart__resume {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    background: #f7a235;
    color: white;
}


.container__alert {
    padding: 8px 16px;
    background: #d81111;
    color: white;
    font-weight: 500;
    border-radius: 2rem;
    position: fixed;
    top: 32px;
    animation: shake 0.5s ease-in-out;
    z-index: 25;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}