.container__btn-cart button {
    display: flex;
    border: none;
    border-radius: 0 0 2rem 2rem;
    outline: none;
    padding: 16px;
    background: #f7a235;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 16px;
    cursor: pointer;

    transition: 200ms;
}

.container__btn-cart button:hover {
    padding: 20px 16px;
}



.cart {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    z-index: 100;
    border-left: 1px solid #ddd;
    height: 100dvh;
    max-width: 100%;
    width: 450px;
}

.show-cart {
    display: flex;
    animation: slideInFromRight 300ms ease-out;
}

.closed-cart {
    animation: slideOutToRight 300ms ease-in;
}

.cart__btn {
    display: flex;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 16px;
    background: #f7a235;
    color: white;
}

.cart__products {
    min-width: 300px;
    max-width: 512px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.cart__products--message-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cart__products--message-empty p {
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    border-bottom: 1px solid #ddd;
}

.cart__header button {
    outline: none;
    border: none;
    background: #f5f4f4;
    display: flex;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}


footer.cart__resume {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    background: #f7a235;
    color: white;
}


.container__alert {
    padding: 8px 16px;
    background: #d81111;
    color: white;
    font-weight: 500;
    border-radius: 2rem;
    position: fixed;
    top: 32px;
    animation: shake 0.5s ease-in-out;
    z-index: 25;

    display: flex;
    align-items: center;
    gap: 10px;
}


@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        /* Empieza fuera de la pantalla por la derecha */
    }

    to {
        transform: translateX(0);
        /* Llega a su posición original */
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}